* {
    font-size: 20px;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 2em;
    text-align: center;

}

body {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    color: #4c4c4c;

}

header {
    background-color: #f0dfe8;
    padding: 10px;
    text-align: center;
}
nav ul li {
        list-style-type: none;
        display: inline-block;
    }

header nav a {
    text-decoration: none;
    color: #5f6368;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
}

header nav a:hover {
    color: #007bff;
}

header img {

    display: flex;
    width: auto;
    height: 7vh;
    padding: 8px;
    border-radius: 50%;

}

.logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;


}


legend {
    text-align: center;
    margin: 10px;
}

.container {
    display: block;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    border-radius: 40px;

}

input {
    margin: 20px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightskyblue;
}

input:hover {
    background-color: #dee2e8;

}

textarea {
    font-family: 'Arial', sans-serif;
    outline: none;
    border: none;
    border-bottom: 2px solid lightskyblue;
    resize: none;

}

textarea:hover {
    background-color: #dee2e8;
}

.option {
    outline: none;
}



/* 
button {
    margin-top: 12px;
    padding: 6px;
} */

footer {
    text-align: center;
    padding: 15px;
    background-color: #6f4f9f;
    color: white;
}