    * {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .mi-titulo {
        font-size: 2em;

    }

    body {
        font-family: 'Arial', sans-serif;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        color: #4c4c4c;

    }

    header {
        background-color: #f0dfe8;
        padding: 20px;
        text-align: center;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    header nav a {
        text-decoration: none;
        color: #5f6368;
        font-weight: bold;
        font-size: 18px;
        margin: 6px;
        padding: 2px;
    }

    header nav a:hover {
        color: #007bff;
    }

    header img {

    display: flex;
    width: auto;
    height: 7vh;
    padding: 8px;
    border-radius: 50%;
      
    }
    .logo {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        

    }

    .main-content {
        padding: 50px 20px;
    }

    .main-content section {
        text-align: center;
    }

    .section {
        margin-bottom: 40px;
    }

    .section p {
        margin: 20px;
        padding: 10px;
       overflow-wrap: break-word;
       
    }
 

    .section h2 {
        color: #6f4f9f;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    

    .services {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap-reverse;
    }

    .service-box {
        background-color: #ffffff;
        border-radius: 10px;
        transition: transform .4s ease ;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        width: 30%;
        padding: 20px;
        text-align: center;
    }

    .service-box:hover {
        transform: scale(1.2);
    }

    .service-box h3 {
        color: #6f4f9f;
        margin-bottom: 10px;
    }

    .service-box p {
        color: #7d7d7d;
    }


    .contact {
        background-color: #f0dfe8;
        padding: 20px;
        text-align: center;
    }

    .contact h3 {
        color: #6f4f9f;
    }

    i.fa-instagram {
        background: linear-gradient(45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%);
        color: white;
    }

    i.fa-linkedin {
        background-color: rgb(29, 130, 231);
        color: white;
    }

    i.fa-facebook {
        background-color: rgb(4, 43, 83);
        color: white;
    }

    i.fa-whatsapp {
         background-color: rgb(37, 144, 46);
        color: white;
    }

    section i {
        padding: 3px;
        margin: 6px;
        font-size: 30px;
        border-radius: 16px;
        transition: transform .3s ease ;
    }

    i:hover {
        transform: scale(1.2);
    }


    footer {
        text-align: center;
        padding: 15px;
        background-color: #6f4f9f;
        color: white;
    }